@{
    ViewData["Title"] = "Sales Records";
}

<h2>@ViewData["Title"]</h2>

<div class="d-flex justify-content-end">
    <a asp-action="Create" class="btn btn-success">New sale</a>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 p-3">
            <form id="simpleSearchForm" class="form-horizontal" asp-action="SimpleSearch">
                <fieldset>
                    <legend>Simple search</legend>
                    <div class="form-group">
                        <label for="minDate" class="col-lg-2 control-label">Min Date</label>
                        <div class="col-lg-10">
                            <input id="simpleMinDate" type="date" name="minDate" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="minDate" class="col-lg-2 control-label">Max Date</label>
                        <div class="col-lg-10">
                            <input type="date" name="minDate" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-6 p-3">
            <form id="groupSearchForm" class="form-horizontal" asp-action="GroupSearch">
                <fieldset>
                    <legend>Group search</legend>
                    <div class="form-group">
                        <label for="minDate" class="col-lg-2 control-label">Min Date</label>
                        <div class="col-lg-10">
                            <input type="date" name="minDate" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="minDate" class="col-lg-2 control-label">Max Date</label>
                        <div class="col-lg-10">
                            <input type="date" name="minDate" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<!-- Container onde a tabela será carregada via AJAX -->
<div id="salesResults">
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            // Função genérica para envio via AJAX
            function submitFormAjax(formId) {
                let form = $(formId);
                let url = form.attr('action');
                let data = form.serialize();

                $.ajax({
                    type: 'GET',
                    url: url,
                    data: data,
                    success: function (partialViewResult, status, xhr) {
                        $('#salesResults').html(partialViewResult);

                    },
                    error: function () {
                        alert('Erro ao buscar resultados.');
                    }
                });
            }

            // Captura o submit dos dois formulários
            $('#simpleSearchForm').submit(function (e) {
                e.preventDefault();
                submitFormAjax('#simpleSearchForm');
            });

            $('#groupSearchForm').submit(function (e) {
                e.preventDefault();
                submitFormAjax('#groupSearchForm');
            });
        });
    </script>
}
