@model IEnumerable<SalesWebMVC.Models.Supplier>

@{
    ViewData["Title"] = "Suppliers";
}


<div class="row">
    <div class="col-md-8">
        <h1 class="text-primary-emphasis">@ViewData["title"]</h1>
    </div>
    <div class="col-4">
        <a asp-action="Create" class="btn btn-lg btn-success float-end"><i class="fas fa-plus m-2"></i>New supllier</a>
    </div>
</div>
<hr />


<div id="table-container" class="card border-primary p-4">
    <div class="row">
        @await Html.PartialAsync("_suppliersTable", Model)
    </div>
</div>


@section Scripts {
    <script src="~/js/Suppliers/Suppliers.js" defer>
    </script>
}

