@{
    ViewData["Title"] = "Access Denied";
}

<h1>@ViewData["Title"]</h1>


<div class="container mt-5">
    <div class="alert alert-danger text-center" role="alert">
        <h4 class="alert-heading">@ViewData["Title"]!</h4>
        <p>You don't have permission to acess this page.</p>
        <hr>
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">OK</a>
    </div>
</div>
